@font-face
{
    font-family: mifuente;
    src:url(../fonts/hollow.ttf);
}

.titulo
{
    color: #ffffff;
    background-color: #831d1d;
}

h1, h2
{
    color:#881212;
    font-family: mifuente;
    text-align: center;
}
table
{
    width:100%;
}
p
{
    width: 300px;
    height: 80px;
    color: #ffffff;
    border: 3px solid#ffa3a3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #460909;
    background-color: rgb(15, 15, 15);
    font-size: 12px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    left:500px;
    top:432px;
}
#pilotos
{
    font-family: mifuente;
    width:350px;
    height:760px;
    border: 5px solid#ffa3a3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #460909;
    background-color: rgb(15, 15, 15);
    font-size: 12px;
    position: absolute;
    left:80px;
    top:160px;
    text-align: center;
}
#carreras
{
    font-family: mifuente;
    height:420px;
    width: 1360px;
    border: 6px solid#ffa3a3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #460909;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left:80px;
    top:950px;
}
body
{
    background-color:rgb(24, 22, 22);
}
.sabado
{
    width:575px;
    height:350px; 
    margin-left:80px;
    margin-top:10px;
    border-radius: 20px;
    position: absolute;
    left:788px;
    top:550px;
    border: 1px solid #ffa3a3;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #460909;
}
.f1
{
    width:935px;
    height:350px; 
    margin-left:80px;
    margin-top:10px;
    border-radius: 20px;
    position: absolute;
    left:440px;
    top:150px;
    border: 1px solid#ffa3a3;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #460909;
}
footer
{
    margin-top: 100%;
    padding: 10px;
    border: 6px solid#752b2b;
    width:280px;
    height:35px;
    border-radius: 40px 20px;
    box-shadow: 5px 5px 10px #460909;
    color:#ffffff;
    font-family: mifuente;
    
    
}



.redbull
{
    color:#391fad;
}
.astonmartin
{
    color:#067209;
}
.ferrari
{
    color:#ff0000;
}
.mercedes
{
    color:#535353;
}
.williams
{
    color:#1556b6;
}
.alphatauri
{
    color:#b3abab;
}
.alfaromeo
{
    color:#990303;
}
.mclaren
{
    color:#c76e1a;
}
.hass
{
    color:#f8f8f8;
}
.alpine
{
    color:#c679c9;
}



.Egulë
{
    color:#ffabff
}
.Larry
{
    color:#da8e1d
}
.Goten
{
    color:#23df12
}
.Aida
{
    color:#7610c9
}
.Lakasito
{
    color:#ffffff
}
.Pato
{
    color:#923b8e
}
.Jason
{
    color:#bd231d
}
.Makako
{
    color:#5e3d0b
}



